/* Main page colors */
/* Blade section  colors*/
/* Main page colors */
/* Blade section  colors*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-firstpart {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.network {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 25%;
}

.small-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 50%;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.links > a {
  color: #d3d0cb;
  text-decoration: none;
  padding: 1rem 3rem 1rem 1rem;
}

.big-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 10rem;
}

.header-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 15%;
}

.header-login > a {
  color: #d3d0cb;
  text-decoration: none;
}

.test-button {
  width: 8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #9fb1bcff;
<<<<<<< HEAD
  color: #2e525b;
=======
  color: #2e5255;
>>>>>>> 638f734e9340e9d7b1aca9ba72767cb0604beb7d
}

.test-button:hover {
  width: 10rem;
  height: 4.5rem;
  opacity: 0.5;
}

.big-picture {
  width: 100%;
}

.big-picture > img {
  height: 35rem;
  width: 100%;
}

.short-line {
  width: 100%;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
}

.about-us {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 30rem;
}

.about-us-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100%;
}

.up-line {
  height: 50%;
  width: 1.1rem;
  margin: 1rem;
  background-color: #d3d0cb;
}

.short-line {
  width: 20rem;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
}

/* Main page colors */
/* Blade section  colors*/
.advices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 45rem;
}

.advices img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  width: 25%;
}

.advices-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.advices-text-detiles {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.advices-text-detiles :nth-child(n+3) {
  margin-top: 7rem;
}

.advice-one {
  padding: 2rem;
}

.long-line {
  width: 90%;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Main page colors */
/* Blade section  colors*/
.blog {
  width: 90%;
  padding: 5rem;
}

.blog-container {
  margin-top: 5rem;
  width: 100%;
  display: grid;
  grid-template-areas: "blog blog-1 blog-2 blog-3";
  height: 25rem;
}

.blog-articles {
  grid-area: blog;
}

.blog-articles-1 {
  grid-area: blog-1;
}

.blog-articles-2 {
  grid-area: blog-2;
}

.blog-articles-3 {
  grid-area: blog-3;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.article img {
  margin-bottom: 2rem;
  width: 15rem;
  height: 15rem;
}

.long-line {
  width: 90%;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Main page colors */
/* Blade section  colors*/
.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  height: 40rem;
  width: 80%;
}

.test-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 3rem;
}

.test-text p {
  padding: 1rem;
}

.test-text a {
  text-decoration: none;
<<<<<<< HEAD
  color: #2e525b;
=======
  color: #2e5255;
>>>>>>> 638f734e9340e9d7b1aca9ba72767cb0604beb7d
  font-size: larger;
}

.reg-button {
  margin-top: 3rem;
  height: 7rem;
  width: 12rem;
  background-color: #9fb1bcff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-button:hover {
  width: 15rem;
  height: 10rem;
  opacity: 0.5;
}

.test-buttons {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-buttons a {
  text-decoration: none;
<<<<<<< HEAD
  color: #2e525b;
=======
  color: #2e5255;
>>>>>>> 638f734e9340e9d7b1aca9ba72767cb0604beb7d
  font-size: 2rem;
}

.reg-button_test {
  width: 25rem;
  height: 15rem;
}

.reg-button_test:hover {
  width: 25rem;
  height: 15rem;
  background-image: url("/img/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 5rem;
  font-style: bold;
}

.reg-button_result {
  width: 25rem;
  height: 15rem;
}

.reg-button_result:hover {
  width: 25rem;
  height: 15rem;
  background-image: url("/img/results.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
  font-size: 5rem;
  font-style: bold;
  color: white;
}

/* Main page colors */
/* Blade section  colors*/
footer {
  margin-top: 10rem;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #d3d0cb;
}

.contact {
  margin-right: 5rem;
<<<<<<< HEAD
  color: #2e525b;
=======
  color: #2e5255;
}

/* Main page colors */
/* Blade section  colors*/
.user-background {
  background-color: #2c3531;
  width: 100%;
  height: 100%;
  color: #d1e8e2;
  font-family: "Courier New", Courier, monospace;
}
.user-background .title-user-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 25vh;
}
.user-background .title-user-part h3,
.user-background .title-user-part form {
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 70%;
  height: 4vh;
}
.user-background .title-user-part h3 :hover,
.user-background .title-user-part form :hover {
  background-color: #ffcb9a;
}
.user-background .title-user-part h3 button,
.user-background .title-user-part form button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  width: 6rem;
  height: 3rem;
  background-color: #d9b08c;
  color: #116466;
  font-size: 1.1rem;
}
.user-background .user-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.user-background .user-nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
}
.user-background .user-nav-bar ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-background .user-nav-bar ul a :hover {
  background-color: #ffcb9a;
}
.user-background .user-nav-bar ul a li {
  color: #d1e8e2;
  list-style: none;
  margin: 1rem;
  width: 10rem;
  padding: 1rem;
  background-color: #d9b08c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  margin-bottom: 2rem;
  color: #116466;
  font-size: 1.1rem;
}
.user-background .user-footer {
  background-color: #2c3531;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.user-test {
  background-color: #116466;
}
.user-test .user-test-info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.user-test .user-test-info h2 {
  padding-bottom: 1rem;
}
.user-test .user-test-form {
  padding-left: 3rem;
}
.user-test .user-test-form p {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.user-test .user-test-form .user-submit-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  flex-direction: row;
  color: #116466;
}
.user-test .user-test-form .user-submit-button :hover {
  background-color: #ffcb9a;
}
.user-test .user-test-form .user-submit-button .submit-button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  width: 7rem;
  height: 4rem;
  background-color: #d9b08c;
  color: #116466;
}
.user-test .user-test-form .user-submit-button .submit-button :hover {
  background-color: #ffcb9a;
  width: 8rem;
  /* doesn't work check why  */
}

.user-login {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #116466;
  height: 30rem;
}
.user-login input {
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  color: #116466;
}
.user-login .user-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.user-login .user-login-button :hover {
  background-color: #ffcb9a;
}
.user-login .user-login-button a {
  width: 8rem;
  height: 5rem;
  font-size: 1.4rem;
  background-color: #d9b08c;
  border: none;
  color: #116466;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  margin-left: 1rem;
}
.user-login .user-login-button button {
  width: 7rem;
  height: 5rem;
  font-size: 1.3rem;
  background-color: #d9b08c;
  border: none;
  color: #116466;
}

/* Main page colors */
/* Blade section  colors*/
.user-register {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #116466;
  height: 30rem;
  width: 100%;
}
.user-register input {
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  color: #116466;
}
.user-register .user-register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.user-register .user-register-button :hover {
  background-color: #ffcb9a;
}
.user-register .user-register-button button {
  width: 8rem;
  height: 5rem;
  font-size: 1.3rem;
  background-color: #d9b08c;
  border: none;
  color: #116466;
}

/* Main page colors */
/* Blade section  colors*/
.statistics {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #116466;
  height: 30rem;
}
.statistics form label {
  font-size: 1.2rem;
}
.statistics form select {
  height: 3rem;
  width: 10rem;
  font-size: 1.3rem;
  color: #116466;
}
.statistics form input {
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  color: #116466;
}

/* Main page colors */
/* Blade section  colors*/
.user-recommendations-container {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #116466;
  height: 30rem;
>>>>>>> 638f734e9340e9d7b1aca9ba72767cb0604beb7d
}

* {
  margin: 0;
  box-sizing: border-box;
}

.main-background {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
  background-color: #2e525b;
=======
  background-color: #2e5255;
>>>>>>> 638f734e9340e9d7b1aca9ba72767cb0604beb7d
  color: #d3d0cb;
  font-family: "Courier New", Courier, monospace;
}

/*# sourceMappingURL=app.css.map*/