/* Main page colors */
/* Blade section  colors*/
/* Main page colors */
/* Blade section  colors*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header .header-firstpart {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header .header-firstpart .network {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 25%;
}
.header .header-firstpart .network img {
  width: 15rem;
  height: 15rem;
}
.header .header-firstpart .small-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 50%;
}
.header .header-firstpart .small-title .links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header .header-firstpart .small-title .links a {
  color: #c1c8e4;
  text-decoration: none;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.5em;
  text-align: center;
}
.header .header-firstpart .small-title .links a:hover {
  color: #8860d0;
}
.header .header-firstpart .small-title .short-line {
  width: 100%;
  background-color: #c1c8e4;
  height: 1px;
  margin-top: 1.5rem;
}
.header .header-firstpart .small-title .big-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 10rem;
}
.header .header-firstpart .header-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 15%;
}
.header .header-firstpart .header-login a {
  color: #c1c8e4;
  text-decoration: none;
}
.header .header-firstpart .header-login a .test-button {
  width: 8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #c1c8e4;
  color: #4a74df;
}
.header .header-firstpart .header-login a .test-button:hover {
  opacity: 0.5;
  background-color: #8860d0;
  color: #c1c8e4;
}

.big-picture {
  width: 100%;
  height: 35rem;
}
.big-picture img {
  height: 100%;
  width: 100%;
}

/* .network > 
 */
@media (max-width: 1030px) {
  .header .header-firstpart .network {
    display: none;
  }
  .header .header-firstpart .small-title {
    width: 100%;
  }
  .header .header-firstpart .header-login {
    display: none;
  }
}
@media (max-width: 811px) {
  .header .header-firstpart {
    flex-direction: column-reverse;
    justify-content: center;
    height: 40rem;
    text-align: center;
  }
  .header .header-firstpart .network {
    display: none;
  }
  .header .header-firstpart .small-title {
    height: 20rem;
    width: 100%;
  }
  .header .header-firstpart .small-title .links {
    list-style: none;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
  }
  .header .header-firstpart .small-title .links a {
    color: #3a5494;
    text-decoration: none;
    background-color: #c1c8e4;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  .header .header-firstpart .small-title .links a:hover {
    color: #8860d0;
  }
  .header .header-firstpart .header-login {
    display: none;
  }
}
.about-us {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 35rem;
}
.about-us h1 {
  font-size: 2rem;
}
.about-us .short-line {
  width: 20rem;
  background-color: #c1c8e4;
  height: 1px;
  margin-top: 1.5rem;
}
.about-us .about-us-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  height: 100%;
}
.about-us .up-line {
  height: 50%;
  width: 1.1rem;
  margin: 1rem;
  background-color: #c1c8e4;
}

@media (max-width: 1000px) {
  .about-us {
    height: 51rem;
  }
  .about-us h1 {
    font-size: 2rem;
  }

  .about-us-text {
    flex-direction: column;
    text-align: center;
  }

  .up-line {
    display: none;
  }
}
@media (max-width: 500px) {
  .about-us {
    height: 70rem;
  }
  .about-us h1 {
    font-size: 2rem;
  }

  .about-us-text {
    flex-direction: column;
    text-align: center;
  }

  .up-line {
    display: none;
  }
}
/* Main page colors */
/* Blade section  colors*/
.advices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 45rem;
}
.advices .advices-text-detiles {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
.advices .advices-text-detiles .advice-one {
  padding: 2rem;
}
.advices img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  width: 25%;
}

@media (max-width: 1030px) {
  .advices-text-detiles {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .advices-text-detiles :nth-child(n+3) {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .advices {
    flex-direction: column;
    width: 100%;
    height: 60rem;
  }
  .advices .advices-text-detiles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .advices .advices-text-detiles .advice-one {
    width: 100%;
  }
  .advices .advices-text-detiles .advice-one h3 {
    margin-bottom: 1rem;
  }
  .advices img {
    display: none;
  }
}
/* Main page colors */
/* Blade section  colors*/
.blog {
  width: 100%;
  padding: 5rem;
}
.blog .blog-container {
  margin-top: 5rem;
  width: 100%;
  display: grid;
  grid-template-areas: "blog blog-1 blog-2 blog-3";
  height: 25rem;
}
.blog .blog-container .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .blog-container .article img {
  margin-bottom: 2rem;
  width: 15rem;
  height: 15rem;
}
.blog .blog-container .article a {
  color: #c1c8e4;
  text-decoration: none;
}
.blog .blog-container .article a:hover {
  color: #8860d0;
}
.blog .blog-container .article a h3 {
  text-align: center;
}

@media (max-width: 1200px) {
  .blog {
    height: 60rem;
  }
  .blog .blog-container {
    grid-template-areas: "blog blog-1" "blog-2 blog-3";
  }
}
@media (max-width: 500px) {
  .blog {
    height: 97rem;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .blog .blog-container {
    grid-template-areas: "blog" "blog-1" "blog-2" "blog-3";
    height: 100%;
  }
}
.blog-articles {
  grid-area: blog;
  padding: 0.5rem;
}

.blog-articles-1 {
  grid-area: blog-1;
  padding: 0.5rem;
}

.blog-articles-2 {
  grid-area: blog-2;
  padding: 0.5rem;
}

.blog-articles-3 {
  grid-area: blog-3;
  padding: 0.5rem;
}

/* Main page colors */
/* Blade section  colors*/
.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  height: 40rem;
  width: 80%;
}
.test .test-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 3rem;
}
.test .test-text p {
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}
.test .test-text h3 {
  padding: 1rem;
  text-align: center;
}
.test .test-text a {
  text-decoration: none;
  color: #4a74df;
  font-size: larger;
}
.test .test-text a .reg-button {
  margin-top: 3rem;
  height: 7rem;
  width: 12rem;
  background-color: #c1c8e4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test .test-text a .reg-button:hover {
  opacity: 0.5;
  background-color: #8860d0;
  color: #c1c8e4;
}
.test .test-buttons {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.test .test-buttons a {
  text-decoration: none;
  color: #4a74df;
  font-size: 2rem;
}
.test .test-buttons a .reg-button_test {
  margin-top: 3rem;
  width: 25rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1c8e4;
}
.test .test-buttons a .reg-button_test:hover {
  width: 25rem;
  height: 15rem;
  background-image: url("/img/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 5rem;
  font-style: bold;
}
.test .test-buttons a {
  text-decoration: none;
  color: #4a74df;
  font-size: 2rem;
}
.test .test-buttons a .reg-button_result {
  margin-top: 3rem;
  width: 25rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1c8e4;
}
.test .test-buttons a .reg-button_result:hover {
  width: 25rem;
  height: 15rem;
  background-image: url("/img/results.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
  font-size: 5rem;
  font-style: bold;
  color: white;
}

@media (max-width: 1200px) {
  .test {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 45rem;
    width: 100%;
  }
  .test .test-text {
    height: 100%;
  }
  .test .test-buttons {
    height: 30re;
  }
}
@media (max-width: 600px) {
  .test {
    flex-direction: column;
    height: 55rem;
    width: 100%;
  }
  .test .test-text {
    width: 100%;
    padding: 0.5rem;
  }
  .test .test-buttons {
    width: 100%;
  }
  .test .test-buttons a {
    width: 100%;
  }
  .test .test-buttons a .reg-button_test {
    width: 100%;
    height: 10rem;
  }
  .test .test-buttons a .reg-button_test:hover {
    width: 100%;
    height: 10rem;
  }
  .test .test-buttons a {
    width: 100%;
  }
  .test .test-buttons a .reg-button_result {
    width: 100%;
    height: 10rem;
  }
  .test .test-buttons a .reg-button_result:hover {
    width: 100%;
    height: 10rem;
  }
}
/* Main page colors */
/* Blade section  colors*/
footer {
  margin-top: 10rem;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #c1c8e4;
}
footer p {
  margin-right: 5rem;
  color: #4a74df;
}
footer .contact {
  margin-right: 5rem;
  color: #4a74df;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer p {
    width: 80%;
    text-align: center;
    margin: 0;
  }
  footer .contact {
    width: 80%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
/* Main page colors */
/* Blade section  colors*/
.user-background {
  background-color: #5ab9ea;
  width: 100%;
  height: 100%;
  color: #d1e8e2;
  font-family: "Montserrat", sans-serif;
}
.user-background .title-user-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 30vh;
}
.user-background .title-user-part .user-title-logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-items: flex-start;
  width: 100%;
  height: 5rem;
  margin-bottom: 3rem;
}
.user-background .title-user-part .user-title-logo img {
  width: 13rem;
  height: 10rem;
}
.user-background .title-user-part h3,
.user-background .title-user-part form {
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 70%;
  height: 4vh;
}
.user-background .title-user-part h3 :hover,
.user-background .title-user-part form :hover {
  background-color: #8860d0;
  color: #d1e8e2;
}
.user-background .title-user-part h3 button,
.user-background .title-user-part form button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  width: 6rem;
  height: 3rem;
  background-color: #c1c8e4;
  color: #5680e9;
  font-size: 1.1rem;
}
.user-background .user-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.user-background .user-nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
}
.user-background .user-nav-bar ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-background .user-nav-bar ul a :hover {
  background-color: #8860d0;
  color: #d1e8e2;
}
.user-background .user-nav-bar ul a li {
  color: #d1e8e2;
  list-style: none;
  margin: 1rem;
  width: 10rem;
  padding: 1rem;
  background-color: #c1c8e4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  margin-bottom: 2rem;
  color: #5680e9;
  font-size: 1.1rem;
}
.user-background .user-footer {
  background-color: #5ab9ea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

@media (max-width: 700px) {
  .user-background {
    font-family: "Courier New", Courier, monospace;
  }
  .user-background .title-user-part {
    height: 45vh;
    padding: 1rem;
  }
  .user-background .title-user-part img {
    padding: 0;
  }
  .user-background .title-user-part h1 {
    padding-bottom: 2rem;
  }
  .user-background .title-user-part h3,
.user-background .title-user-part form {
    margin-left: 0%;
    height: 4vh;
  }
  .user-background .title-user-part h3 :hover,
.user-background .title-user-part form :hover {
    background-color: #8860d0;
    color: #d1e8e2;
  }
  .user-background .title-user-part h3 button,
.user-background .title-user-part form button {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .user-background .user-nav-bar ul {
    flex-direction: column;
    width: 100%;
  }
  .user-background .user-nav-bar ul a {
    width: 100%;
  }
  .user-background .user-nav-bar ul a :hover {
    background-color: #8860d0;
    color: #d1e8e2;
    width: 100%;
  }
  .user-background .user-nav-bar ul a li {
    height: 4rem;
    width: 100%;
  }
}
.user-test {
  background-color: #c1c8e4;
}
.user-test .user-test-info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #3a5494;
}
.user-test .user-test-info h2 {
  padding-bottom: 1rem;
}
.user-test .user-test-form {
  padding-left: 3rem;
  color: #3a5494;
}
.user-test .user-test-form p {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
}
.user-test .user-test-form .user-questions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.user-test .user-test-form .user-questions .user-questions-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.user-test .user-test-form .user-questions .user-questions-style p {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.user-test .user-test-form .user-questions .user-questions-style label {
  padding: 1rem;
}
.user-test .user-test-form .user-submit-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  flex-direction: row;
  color: #5680e9;
}
.user-test .user-test-form .user-submit-button .submit-button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  width: 7rem;
  height: 4rem;
  background-color: #5ab9ea;
  color: #d1e8e2;
}
.user-test .user-test-form .user-submit-button .submit-button :hover {
  background-color: #ffcb9a;
}

.user-comebacklate {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1c8e4;
  color: #3a5494;
}

h1 {
  text-align: center;
  /* Displays if the test is already taken */
}

.user-login {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #c1c8e4;
  height: 30rem;
}
.user-login input {
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  color: #c1c8e4;
}
.user-login .user-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.user-login .user-login-button :hover {
  background-color: #8860d0;
  color: #c1c8e4;
}
.user-login .user-login-button a {
  width: 8rem;
  height: 5rem;
  font-size: 1.4rem;
  background-color: #c1c8e4;
  border: none;
  color: #5680e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  margin-left: 1rem;
  background-color: #5ab9ea;
}
.user-login .user-login-button button {
  width: 7rem;
  height: 5rem;
  font-size: 1.3rem;
  background-color: #c1c8e4;
  border: none;
  color: #5680e9;
  background-color: #5ab9ea;
}

@media (max-width: 700px) {
  .user-login {
    flex-direction: column;
    background-color: #c1c8e4;
    height: 30rem;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* Main page colors */
/* Blade section  colors*/
.user-register {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #c1c8e4;
  height: 30rem;
  width: 100%;
}
.user-register input {
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  color: #c1c8e4;
}
.user-register .user-register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.user-register .user-register-button :hover {
  background-color: #8860d0;
  color: #c1c8e4;
}
.user-register .user-register-button button {
  width: 8rem;
  height: 5rem;
  font-size: 1.3rem;
  border: none;
  color: #5680e9;
  background-color: #5ab9ea;
}

@media (max-width: 1000px) {
  .user-register {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #c1c8e4;
    height: 30rem;
    width: 100%;
  }
  .user-register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .user-register form input {
    height: 3rem;
    width: 20rem;
    font-size: 1.3rem;
    color: #c1c8e4;
  }
}
/* Main page colors */
/* Blade section  colors*/
.statistics {
  height: 47rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c1c8e4;
  width: 100%;
  color: #3a5494;
}
.statistics form {
  height: 7rem;
  margin-top: 2rem;
  padding: 1rem;
}
.statistics form label {
  font-size: 1.2rem;
}
.statistics form select {
  height: 3rem;
  width: 10rem;
  font-size: 1.3rem;
  color: #c1c8e4;
  color: #d1e8e2;
  background-color: #3a5494;
}
.statistics form input {
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  color: #d1e8e2;
  background-color: #3a5494;
  border: none;
}
.statistics .user-statatistics-user-info {
  height: 7rem;
  margin-top: 2rem;
  padding: 1rem;
}
.statistics .user-statistics-recommendation {
  height: 7rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  margin: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.statistics .user-statistics-recommendation h2 {
  margin-bottom: 0.5rem;
}
.statistics .user-chart-statistics {
  width: 50rem;
  height: 20rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .statistics form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .statistics form label {
    margin-bottom: 2rem;
  }
  .statistics form select {
    margin-bottom: 2rem;
  }
  .statistics .user-chart-statistics {
    display: none;
  }
}
/* Main page colors */
/* Blade section  colors*/
.user-recommendations-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c1c8e4;
  height: 35rem;
  width: 100%;
  color: #3a5494;
}
.user-recommendations-container .user-recommendations-recommendation,
.user-recommendations-container .user-recommendations-user-info {
  padding: 1rem;
  width: 50%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-recommendations-container .user-recommendations-recommendation h3,
.user-recommendations-container .user-recommendations-user-info h3 {
  margin-bottom: 1rem;
}
.user-recommendations-container .user-chart-recommendations {
  width: 50rem;
  height: 20rem;
}

@media (max-width: 700px) {
  .user-recommendations-container .user-chart-recommendations {
    display: none;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}
* .main-background {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #4a74df;
  color: #c1c8e4;
  font-family: "Montserrat", sans-serif;
}

.long-line {
  width: 90%;
  background-color: #c1c8e4;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.short-line {
  width: 20rem;
  background-color: #c1c8e4;
  height: 1px;
  margin-top: 1.5rem;
}

/*# sourceMappingURL=app.css.map*/