.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-firstpart {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.network {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 25%;
}

.small-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 50%;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.links > a {
  color: #d3d0cb;
  text-decoration: none;
  padding: 1rem 3rem 1rem 1rem;
}

.big-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 10rem;
}

.header-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 15%;
}

.header-login > a {
  color: #d3d0cb;
  text-decoration: none;
}

.test-button {
  width: 8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #9fb1bcff;
  color: #2e525b;
}

.test-button:hover {
  width: 10rem;
  height: 4.5rem;
  opacity: 0.5;
}

.big-picture {
  width: 100%;
}

.big-picture > img {
  height: 35rem;
  width: 100%;
}

.short-line {
  width: 100%;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
}

.about-us {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 30rem;
}

.about-us-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100%;
}

.up-line {
  height: 50%;
  width: 1.1rem;
  margin: 1rem;
  background-color: #d3d0cb;
}

.short-line {
  width: 20rem;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
}

.advices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 45rem;
}

.advices img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  width: 25%;
}

.advices-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.advices-text-detiles {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.advices-text-detiles :nth-child(n+3) {
  margin-top: 7rem;
}

.advice-one {
  padding: 2rem;
}

.long-line {
  width: 90%;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.blog {
  width: 90%;
  padding: 5rem;
}

.blog-container {
  margin-top: 5rem;
  width: 100%;
  display: grid;
  grid-template-areas: "blog blog-1 blog-2 blog-3";
  height: 25rem;
}

.blog-articles {
  grid-area: blog;
}

.blog-articles-1 {
  grid-area: blog-1;
}

.blog-articles-2 {
  grid-area: blog-2;
}

.blog-articles-3 {
  grid-area: blog-3;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.article img {
  margin-bottom: 2rem;
  width: 15rem;
  height: 15rem;
}

.long-line {
  width: 90%;
  background-color: #d3d0cb;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  height: 40rem;
  width: 80%;
}

.test-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 3rem;
}

.test-text p {
  padding: 1rem;
}

.test-text a {
  text-decoration: none;
  color: #2e525b;
  font-size: larger;
}

.reg-button {
  margin-top: 3rem;
  height: 7rem;
  width: 12rem;
  background-color: #9fb1bcff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-button:hover {
  width: 15rem;
  height: 10rem;
  opacity: 0.5;
}

.test-buttons {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-buttons a {
  text-decoration: none;
  color: #2e525b;
  font-size: 2rem;
}

.reg-button_test {
  width: 25rem;
  height: 15rem;
}

.reg-button_test:hover {
  width: 25rem;
  height: 15rem;
  background-image: url("/img/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 5rem;
  font-style: bold;
}

.reg-button_result {
  width: 25rem;
  height: 15rem;
}

.reg-button_result:hover {
  width: 25rem;
  height: 15rem;
  background-image: url("/img/results.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
  font-size: 5rem;
  font-style: bold;
  color: white;
}

footer {
  margin-top: 10rem;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #d3d0cb;
}

.contact {
  margin-right: 5rem;
  color: #2e525b;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.main-background {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #2e525b;
  color: #d3d0cb;
  font-family: "Courier New", Courier, monospace;
}

/*# sourceMappingURL=app.css.map*/