@import "colors.scss";
@import "pages/header.scss";
@import "pages/about-us.scss";
@import "pages/advices.scss";
@import "pages/blog.scss";
@import "pages/test.scss";
@import "pages/footer.scss";
@import "blade_part/user-layout.scss";
@import "blade_part/test.scss";

* {
    margin: 0;
    box-sizing: border-box;
}

.main-background {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $background-color;
    color: $font-color;
    font-family: "Courier New", Courier, monospace;
}
