$background-color: #2e525b;
$font-color: #d3d0cb;
$light-green-color: #6e8898;
$very-light-green-color: #9fb1bcff;
/* Main page colors */
$background-color: #2e5255;
$font-color: #d3d0cb;
$light-green-color: #6e8898;
$very-light-green-color: #9fb1bcff;

/* Blade section  colors*/

$user-area-background: #2c3531;
$user-content-color: #116466;
$user-font-color: #d1e8e2;
$user-links-color: #d9b08c;
$user-links-font-color: #116466;
$user-hover-color: #ffcb9a;
$user-hover-color: #ffcb9a;
