/* Main page colors */
$background-color: #4a74df;
$font-color: #c1c8e4;
$second-background: #84ceeb;
$second-background-dark: #5ab9ea;
$dark-red: #8860d0;

/* Blade section  colors*/

$user-area-background: #5ab9ea;
$user-content-color: #c1c8e4;
$user-font-color: #d1e8e2;
$user-font-color-dark: #3a5494;
$user-links-color: #c1c8e4;
$user-links-font-color: #5680e9;
$user-hover-color: #ffcb9a;
$user-hover-color: #ffcb9a;

