@import "../colors.scss";

footer {
    margin-top: 10rem;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: $font-color;
}
.contact {
    margin-right: 5rem;
    color: $background-color;
}
