@import "../colors.scss";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-firstpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}
.network {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 25%;
}
.small-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 50%;
}
.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links > a {
    color: $font-color;
    text-decoration: none;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 1.5em;
    text-align: center;
    :hover {
        color: $dark-red;
    }
}
.big-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 10rem;
}
.header-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 15%;
}
.header-login > a {
    color: $font-color;
    text-decoration: none;
}

.test-button {
    width: 8rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: $font-color;
    color: $background-color;
}
.test-button:hover {
    opacity: 0.5;
    background-color: $dark-red;
    color: $font-color;
}
.big-picture {
    width: 100%;
}
.big-picture > img {
    height: 35rem;
    width: 100%;
}

.short-line {
    width: 100%;
    background-color: $font-color;
    height: 1px;
    margin-top: 1.5rem;
}

.network > img {
    width: 15rem;
    height: 15rem;
}

@media (max-width: 1030px) {
    .big-picture > img {
        height: 35rem;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .network {
        display: none;
    }
    .header-firstpart {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 40rem;
        width: 100%;
        text-align: center;
    }
    .links {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }
    .header-login {
        display: none;
    }

    .links > a {
        color: $user-font-color-dark;
        text-decoration: none;
        background-color: $font-color;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;

        :hover {
            color: $dark-red;
        }
    }
    .small-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        width: 100%;
    }
}
