@import "../colors.scss";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-firstpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}
.small-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 80%;
}
.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links > a {
    color: $font-color;
    text-decoration: none;
    padding: 1rem 3rem 1rem 1rem;
}
.big-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 10rem;
}
.header-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 20%;
}
.header-login > a {
    color: $font-color;
    text-decoration: none;
}

.test-button {
    width: 8rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #9fb1bcff;
    color: $background-color;
}
.big-picture > img {
    height: 35rem;
    width: 100%;
}
.short-line {
    width: 20rem;
    background-color: $font-color;
    height: 0.1rem;
    margin-top: 1.5rem;
}
