@import "../colors.scss";
.user-register {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: $user-content-color;
    height: 30rem;
    width: 100%;

    input {
        height: 3rem;
        width: 15rem;
        font-size: 1.3rem;
        color: $user-content-color;
    }

    .user-register-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        :hover {
            background-color: $dark-red;
            color: $user-links-color;
        }
        button {
            width: 8rem;
            height: 5rem;
            font-size: 1.3rem;

            border: none;

            color: $user-links-font-color;
            background-color: $user-area-background;
        }
    }
}
