@import "../colors.scss";

.statistics {
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $user-content-color;
    width: 100%;

    form {
        height: 7rem;
        margin-top: 2rem;
        padding: 1rem;

        label {
            font-size: 1.2rem;
        }

        select {
            height: 3rem;
            width: 10rem;
            font-size: 1.3rem;
            color: $user-content-color;
        }

        input {
            height: 3rem;
            width: 15rem;
            font-size: 1.3rem;
            color: $user-content-color;
        }
    }

    .user-statatistics-user-info {
        height: 7rem;
        margin-top: 2rem;
        padding: 1rem;
    }
    .user-statistics-recommendation {
        height: 7rem;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;
        margin: 2rem;
    }
    .user-chart-statistics {
        width: 50rem;
        height: 20rem;
    }
}
