@import "../colors.scss";

.statistics {
    height: 47rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $user-content-color;
    width: 100%;
    color: $user-font-color-dark;

    form {
        height: 7rem;
        margin-top: 2rem;
        padding: 1rem;

        label {
            font-size: 1.2rem;
        }

        select {
            height: 3rem;
            width: 10rem;
            font-size: 1.3rem;
            color: $user-content-color;
            color: $user-font-color;
            background-color: $user-font-color-dark;
        }

        input {
            height: 3rem;
            width: 15rem;
            font-size: 1.3rem;
            color: $user-font-color;
            background-color: $user-font-color-dark;
            border: none;
        }
    }

    .user-statatistics-user-info {
        height: 7rem;
        margin-top: 2rem;
        padding: 1rem;
    }
    .user-statistics-recommendation {
        height: 7rem;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;
        margin: 2rem;
        margin-bottom: 3rem;
        text-align: center;
        h2 {
            margin-bottom: 0.5rem;
        }
    }
    .user-chart-statistics {
        width: 50rem;
        height: 20rem;
        margin-bottom: 2rem;
    }
}
@media (max-width: 700px) {
    .statistics {
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;

            label {
                margin-bottom: 2rem;
            }

            select {
                margin-bottom: 2rem;
            }
        }

        .user-chart-statistics {
            display: none;
        }
    }
}
