.user-test {
    background-color: $user-content-color;

    .user-test-info {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: $user-font-color-dark;

        h2 {
            padding-bottom: 1rem;
        }
    }

    .user-test-form {
        padding-left: 3rem;
        color: $user-font-color-dark;
        p {
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            font-size: 1.2rem;
        }
        .user-questions {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            .user-questions-style {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 1rem;

                p {
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    font-size: 1.2rem;
                }
                label {
                    padding: 1rem;
                }
            }
        }
        .user-submit-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 3rem;
            flex-direction: row;
            color: $user-links-font-color;

            .submit-button {
                margin-top: 2rem;
                margin-bottom: 3rem;
                border: none;
                width: 7rem;
                height: 4rem;
                background-color: $user-area-background;
                color: $user-font-color;
                :hover {
                    background-color: $user-hover-color;
                }
            }
        }
    }
}
.user-comebacklate {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $user-content-color;
    color: $user-font-color-dark;
}
