@import "../colors.scss";
.user-background {
    background-color: $user-area-background;
    width: 100%;
    height: 100%;
    color: $user-font-color;
    font-family: "Montserrat", sans-serif;
    .title-user-part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 30vh;

        h3,
        form {
            justify-content: flex-end;
            flex-direction: row;
            margin-left: 70%;
            height: 4vh;

            :hover {
                background-color: $dark-red;
                color: $user-font-color;
            }
            button {
                margin-top: 1rem;
                margin-bottom: 1rem;
                border: none;
                width: 6rem;
                height: 3rem;
                background-color: $user-links-color;
                color: $user-links-font-color;
                font-size: 1.1rem;
            }
        }
    }

    .user-nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 65%;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;

                :hover {
                    background-color: $dark-red;
                    color: $user-font-color;
                }
                li {
                    color: $user-font-color;
                    list-style: none;
                    margin: 1rem;
                    width: 10rem;
                    padding: 1rem;
                    background-color: $user-links-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 4rem;
                    margin-bottom: 2rem;
                    color: $user-links-font-color;
                    font-size: 1.1rem;
                }
            }
        }
    }
    .user-footer {
        background-color: $user-area-background;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .user-background {
        background-color: $user-area-background;
        width: 100%;
        height: 100%;
        color: $user-font-color;
        font-family: "Courier New", Courier, monospace;
        .title-user-part {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 45vh;
            padding: 1rem;
            h1 {
                padding-bottom: 2rem;
            }
            h3,
            form {
                justify-content: flex-end;
                flex-direction: row;
                margin-left: 0%;
                height: 4vh;

                :hover {
                    background-color: $dark-red;
                    color: $user-font-color;
                }
                button {
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                    border: none;
                    width: 6rem;
                    height: 3rem;
                    background-color: $user-links-color;
                    color: $user-links-font-color;
                    font-size: 1.1rem;
                }
            }
        }
        .user-nav-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    :hover {
                        background-color: $dark-red;
                        color: $user-font-color;
                        width: 100%;
                    }
                    li {
                        color: $user-font-color;
                        list-style: none;
                        margin: 1rem;
                        width: 10rem;
                        padding: 1rem;
                        background-color: $user-links-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 4rem;
                        margin-bottom: 2rem;
                        color: $user-links-font-color;
                        font-size: 1.1rem;
                        width: 100%;
                    }
                }
            }
        }
        .user-footer {
            background-color: $user-area-background;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: 0;
        }
    }
    .user-title-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-bottom: 1rem;
        height: 5rem;
    }
    .user-title-logo > img {
        width: 13rem;
        height: 10rem;
    }
}

.user-title-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: flex-start;
    width: 100%;

    height: 5rem;
}
.user-title-logo > img {
    width: 13rem;
    height: 10rem;
}
