@import "../colors.scss";
.user-background {
    background-color: $user-area-background;
    width: 100%;
    height: 100%;
    color: $user-font-color;
    font-family: "Courier New", Courier, monospace;
    .title-user-part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 15vh;

        h3 {
            justify-content: flex-end;
            margin-left: 70%;
        }
    }

    .user-nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 80%;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;

                :hover {
                    background-color: $user-hover-color;
                }
                li {
                    color: $user-font-color;
                    list-style: none;
                    margin: 1rem;
                    width: 10rem;
                    padding: 1rem;
                    background-color: $user-links-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 4rem;
                    margin-bottom: 2rem;
                    color: $user-links-font-color;
                    font-size: 1.1rem;
                }
            }
        }
    }
    .user-footer {
        background-color: $user-area-background;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
}
